@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/times-new-roman');

* {
    margin: 0%;
}

.body {
    background-color: rgb(0, 24, 182);
}

.menu {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

#nav {
    color: white;

}


#p1 {
    background-color: black;
    display: inline-block;
    color: white;
}

#n1 {
    margin-right: 300px;
    display: inline-block;
}

#sobre {
    display: inline-block;
    margin-right: 50px;
}

#habilidades {
    display: inline-block;
    margin-right: 50px;
}

#meusprojetos {
    display: inline-block;
    margin-right: 50px;
}

#contatos {
    display: inline-block;
}

#img {
    display: inline-block;
    margin-top: 45px;
    margin-left: 100px;
}

#p1 {
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    padding: 25px;
    width: 420px;
    height: 150px;
    margin-left: 250px;
    margin-top: 30px;
}

#minhas_habilidades {
    text-align: center;
    margin-right: 225px;
    margin-top: 150px;
    color: white;
    font-size: 35px;
    font-style: Times
}

#table_habilidades {
    width: 100%;
}

#h2_hab {
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

.Habilidades {
    display: inline-block;
    margin-left: 100px;
    padding-bottom: 30px;
    font-family: 'Times New Roman', sans-serif;


}

#logo {
    background-color: rgb(90, 144, 237);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 35px;
    width: 190px;
    height: 190px;
    margin-left: 110px;
    text-align: center;
    color: rgb(242, 242, 246);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
    font-variation-settings: "width" 100;
}

#meus_projetos{
    text-align: center;
    margin-top: 65px;
    color: white;
    font-family: 'Times New Roman', sans-serif;
}

.img_projeto{
    width: 950px;
    margin-left: 195px;
}

.contatos{
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    color: white;
    margin-top: 70px;
}

.email{
    color: white;
    display: inline-block;
    width: 650px;
    margin-top: 100px;
    margin-left: 140px;
}

.github{
    color: white;
    display: inline-block;
    width: 350px;
    
    
}